body {
  background-color: cornflowerblue;
}

.title {
  text-align: center;
}

.container {
  text-align: center;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman';
  font-weight: 700;
}
